{% extends "base.html" %}

{% block title %}
  Add an article
{% endblock %}

<!-- Page Header -->
{% block page_header %}
  <header class="masthead" style="background-image: url('#')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>You can add an article</h1>
            <span class="subheading">Just send an url to us</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

<!--        <form method="post" id="NewsForm">-->
          <form method="post">

           {% csrf_token %}
          {{ form.as_p }}

<!--          <input type="submit" value="Add article">-->
          <button type="submit" class="btn btn-primary" >Submit</button>

        </form>

      </div>
    </div>
  </div>

{% endblock %}