{% extends "base.html" %}

{% block title %}
Articles
{% endblock %}

{% block update_button %}
<form method="post">
    {% csrf_token %}
    <!--      <button class="btn btn-danger"-->
    <!--              type="submit">-->
    <!--          UPDATE-->
    <!--      </button>-->
</form>
{% endblock %}

<!-- Page Header -->
{% block page_header %}
<header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ news_title | title }} </h1>
                    <span class="subheading">{{news_line}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="row">
    Всего статей на странице - {{ object_list | length}}
    <div class="col-lg-8 col-md-10 mx-auto">
        <a href="{% url 'covid_19:add_article' %}">ADD NEWS</a>
        <hr>
        {% for item in object_list %}
        <div class="post-preview">
            <a href="{{item.url}}">
                <h2 class="post-title">
                    {{item.name}}
                </h2>
            </a>
            <p class="post-meta">Posted by
                <a href=http://{{item.source.url}}>{{item.source}}</a>
                {{item.date}}</p>
        </div>
        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
<!--                  <a class="btn btn-primary float-right" href="#">Old news &rarr;</a>-->

          <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo;first </a>
                        <a href="?page={{ page_obj.previous_page_number }}">    previous </a>
                    {% endif %}

                    <span class="current">
                        _____________ {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} _____________
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"> next   </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
                    {% endif %}
                </span>
          </div>



        </div>

    </div>
</div>
</div>
{% endblock %}
