{% extends "base.html" %}

{% block title %}
  Posts
{% endblock %}

<!-- Page Header -->
{% block page_header %}
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Posts</h1>
            <span class="subheading">from readers like you</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<!-- Main Content -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for item in object_list %}
        <div class="post-preview">
          <a href="{% url 'covid_19:post_detail' pk=item.pk %}">
            <h2 class="post-title">
              {{item.name}}
            </h2>
            <h3 class="post-subtitle"></h3>
          </a>
          <p class="post-meta">
            Posted on {{item.create}}
            {% if item.has_image %}
              with image
            {% else %}
              without image
            {% endif %}
           </p>
        </div>
        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">

<!--          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>-->
           <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo;first </a>
                        <a href="?page={{ page_obj.previous_page_number }}">    previous </a>
                    {% endif %}

                    <span class="current">
                        _____________ {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} _____________
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"> next   </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
                    {% endif %}
                </span>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
