{% extends "base.html" %}

{% block title %}
Source News
{% endblock %}

<!-- Page Header -->
{% block page_header %}
  <header class="masthead" style="background-image: url('#')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3>all news that we got from</h3>
            <h1>{{ source_name }}</h1>
            <span class="subheading">

              web: <a href=http://{{source_url}}> {{source_url}} </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}


<!-- Main Content -->
{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for item in object_list %}
        <div class="post-preview">
          <a href="{{item.url}}">
            <h2 class="post-title">
              {{item.name}}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href=http://{{item.source.url}}>{{item.source}}</a>
            {{item.date}}</p>
        </div>
        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
<!--          <a class="btn btn-primary float-right" href="#">Old news &rarr;</a>-->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

